<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DAHUEEntities" connectionString="metadata=res://*/db_prod_dahue.csdl|res://*/db_prod_dahue.ssdl|res://*/db_prod_dahue.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=srv-mssql-01;initial catalog=DAHUE;persist security info=True;user id=dahue;password=DT1_D@huE_1438_DtI;pooling=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>