<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Report.Viewer" version="11.0.0.0" targetFramework="net45" />
  <package id="Microsoft.ReportViewer.2012.Runtime" version="11.0.3452.0" targetFramework="net45" />
  <package id="Microsoft.ReportViewer.Common" version="10.0.40219.1" targetFramework="net45" />
  <package id="Microsoft.ReportViewer.Common.2010SP1UpdateFull" version="10.0.40219.329" targetFramework="net45" />
  <package id="Microsoft.ReportViewer.Common.VS2010" version="10.0.40219.1" targetFramework="net45" />
  <package id="Microsoft.ReportViewer.WebForms" version="10.0.40219.1" targetFramework="net45" />
  <package id="Microsoft.ReportViewer.WebForms.VS2010" version="10.0.40219.1" targetFramework="net45" />
  <package id="Microsoft.ReportViewer.Winforms.2010SP1Update" version="10.0.40219.329" targetFramework="net45" />
  <package id="Microsoft.ReportViewer.WinForms.VS2010" version="10.0.40219.1" targetFramework="net45" />
  <package id="NAppUpdate.Framework" version="0.5.1.0" targetFramework="net451" />
</packages>